.title{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0px;
}
header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header:after{
    content: ""; 
    position: absolute;
    background-color:#a3a5a938 ;
    height: 1.5px;
    width: 100%;
    left: 0px;
    bottom: -10px;
}
.leftNav{
    display: flex;
    align-items: center;
}
ul {
 display: flex;
 justify-content: space-between;
 gap: 40px;
 margin: 0px;
}
li{
   position: relative;
   list-style-type: none;
   color:  #73767c;
   font-size: 20px;
   padding: 25px 0px;
}
/* *:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
li:after{
    content: ""; 
    position: absolute;
    background-color:#e67b29 ;
    height: 4px;
    width: 0;
    left: 0px;
    bottom: -9px;
}
li:hover:after{
    width: 100%;
}
li:hover{
    color: black;
    cursor: pointer;  
}
.rightNav{
    display: flex;
    align-items: center;
    gap: 50px;
}
.avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
}
.avatar:hover{
    cursor: pointer;
    border: 2px solid  #dc7032;
}
.iconePanier{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.iconePanier:hover{
    cursor: pointer;
}
.cart{
    background-color: #dc7032;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 1px;
}
.panier{
    display: flex;
    position: relative;
}
.MenuMobile{
    display: none;
}