.CartContainer{
    width: 350px;
    box-shadow: #a8a7a7 1px 8px 50px -20px;
    border-radius: 10px;
    background-color: #fafafb;
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 1;
}
.ProductCart{
    margin: 15px;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}
.ProductCartEmpty{
    display: flex;
    justify-content: center;
}
.ProductCartEmpty p{
    margin: 60px 0px;
    font-size: 18px;
    font-weight: bold;
    color:  #73767c;
}
.ProductItem{
    display: flex;
    gap: 10px;
    align-items: center;
}
.ProductItem p{
    color: #73767c;
    font-size: 16px;
    width: 220px;
}

.ProductItemImg{
    width: 55px;
    height: 55px;
    border-radius: 5px;
}
.ImgDelete{
    width: 17px;
    height: 20px;
}
.CheckoutBtn{
    background-color:  #e67b29;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 15px 10px;
    color: #f7f8fd;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}
.CartContainerTitle{
    padding: 15px;
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #a3a5a938;
}
.TotalPrice{
    font-weight: bold;
    color: black;
    padding: 0px 10px;
}